/* Emoji-Picker */
.emoji-picker-container {
	display: none;
	position: absolute;
	z-index: 1; /* Sit on top */
	width: 200px; /* Full width */
	height: 200px; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: white; /* Fallback color */
	border: 1px solid black;
}

.emoji-picker-option {
	background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.8em;
    width: 1.5em;
    height: 1.5em;
    padding: 0;
    margin: 0;
    outline: none;
    font-family: "Segoe UI Emoji", "Segoe UI Symbol", "Segoe UI", "Apple Color Emoji", "Twemoji Mozilla", "Noto Color Emoji", "EmojiOne Color", "Android Emoji";
}

.emoji-picker-option-container {
    display: inline-block;
}